<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace: 名称标签
-->
<!--<mapper namespace="test">-->
<!--    <select nam="selectAll" resultType="MyBatis.User">-->
<!--        select * from b;-->
<!--    </select>-->
<!--</mapper>-->
<!--MyBatis03/mapper/BrandMapper.java-->
<mapper namespace="MyBatis05.mapper.BrandMapper">


    <resultMap id="brandResultMap" type="brand">
        <result column="brandName" property="brandNanme"/>
    </resultMap>

    <delete id="deleteById">
        delete from Brand where id = #{id};
    </delete>
<!--mybatis会将数组的值封装成一个map集合-->
    <delete id="deleteBys">
        delete from Brand where id
        in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
           ;
    </delete>


</mapper>
